.login-title {
  text-align: center;
  padding: var(--rtc-padding-s);
  margin: var(--rtc-margin-l);
}

.login-section {
  min-height: 59svh;
  display: flex;
  margin: var(--rtc-margin-xl) auto var(--rtc-margin-xxxl);
  border-radius: var(--rtc-border-radius);
  background-color: var(--rtc-color-5);
  box-shadow: 5px 0px 15px -1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.login-form {
  border-right: 1px solid var(--rtc-color-4);
  min-height: 45svh;
  display: flex;
  flex-direction: column;
}

.each-input-div {
  margin: var(--rtc-margin-s) var(--rtc-margin-xxl);
  display: flex;
  flex-direction: column;
}

.label-login {
  padding: var(--rtc-padding-s);
  color: var(--rtc-color-4);
}

.input-login {
  border-bottom: 1px solid var(--rtc-color-4);
  background-color: var(--rtc-color-5);
  padding-bottom: var(--rtc-padding-s);
}

.input-login::placeholder {
  font-size: 0.7em;
  color: rgb(56, 51, 51);
}

.pass-control {
  font-size: 0.7em;
  padding: 3px;
}

.submit-btn {
  display: block;
  margin: var(--rtc-margin-xl) auto;
}

.submit-btn,
.regist-btn {
  width: 80px;
  height: 30px;
  background-color: var(--rtc-color-4);
  border-radius: var(--rtc-border-radius);
  cursor: pointer;
}

.not-registered {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.not-registered p {
  font-size: 0.8em;
  margin: var(--rtc-margin-s);
}

@media (max-width: 513px) {
  .login-section {
    flex-direction: column;
  }
  .login-form {
    border-right: none;
  }
  .not-registered {
    margin: var(--rtc-margin-xxl) auto;
  }
  .each-input-div {
    margin: var(--rtc-margin-xs) var(--rtc-margin-m);
  }
  .submit-btn {
    margin: auto;
  }
}
