.register-title {
  text-align: center;
  padding: var(--rtc-padding-s);
  margin: var(--rtc-margin-l);
}

.register-section {
  min-height: 70svh;
  display: flex;
  margin: var(--rtc-margin-xl) auto var(--rtc-margin-xxxl);
  border-radius: var(--rtc-border-radius);
  background-color: var(--rtc-color-5);
  box-shadow: 5px 0px 15px -1px rgba(0, 0, 0, 0.4);
  position: relative;
}

.register-form {
  border-right: 1px solid var(--rtc-color-4);
  min-height: 65svh;
}

.each-input-div-reg {
  margin: var(--rtc-margin-xxl);
  display: flex;
  flex-direction: column;
}

.label-reg {
  padding: var(--rtc-padding-s);
  color: var(--rtc-color-4);
}

.input-reg {
  border-bottom: 1px solid var(--rtc-color-4);
  background-color: var(--rtc-color-5);
  padding-bottom: var(--rtc-padding-s);
}

.input-reg::placeholder {
  font-size: 0.7em;
  color: rgb(56, 51, 51);
}

.pass-control {
  /* position: absolute; */
  font-size: 0.7em;
  padding: 3px;
}

.submit-btn {
  display: block;
  margin: auto;
}

.login-btn {
  width: 80px;
  height: 30px;
  background-color: var(--rtc-color-4);
  border-radius: var(--rtc-border-radius);
  cursor: pointer;
}

.already-registered {
  width: 200px;
  margin: auto;
  align-content: center;
  text-align: center;
}

.already-registered p {
  font-size: 0.8em;
  margin: var(--rtc-margin-s);
}

.errors-container {
  display: flex;
  flex-direction: column;
  margin: var(--rtc-margin-xxl) auto;
  background-color: var(--rtc-color-wrong);
  border-radius: var(--rtc-border-radius);
  padding: var(--rtc-padding-m);
  font-size: 0.9em;
}

.errors-container p::before {
  content: '*';
}

@media (max-width: 567px) {
  .register-section {
    flex-wrap: wrap;
  }

  .register-form {
    border: none;
    margin: auto;
    /* border-bottom: 1px solid var(--rtc-color-4); */
  }

  .already-registered {
    margin: var(--rtc-margin-xl) auto;
  }
}
