.header {
  background-image: var(--rtc-background-image);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-hamb {
  width: 30px;
  display: none;
  cursor: pointer;
}
#menu-hamb-label {
  margin-right: var(--rtc-margin-l);
}
.menu-checkbox {
  display: none;
}

.navBar {
  width: 50svw;
  height: 68px;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navBar .nav-link {
  cursor: pointer;
}

.div-logo {
  width: 20em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* width: 80%; */
  font-size: 3em;
  font-family: var(--rtc-font-family-3);
}
.logo::first-letter {
  font-size: 1.15em;
}

.img-logo {
  width: 50px;
}

@media (max-width: 1024px) {
  .menu-hamb {
    display: block;
    margin: var(--rtc-margin-s);
  }
  .navBar {
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: auto;
    flex-direction: column;
    background-color: var(--rtc-color-5);
    display: none;
    padding: var(--rtc-padding-s);
    z-index: 3;
  }

  .menu-checkbox:checked ~ .navBar {
    display: flex;
  }
  .navBar .nav-link {
    width: 100%;
    text-align: end;
    padding: var(--rtc-padding-xs);
  }

  .nav-link:hover {
    border-bottom: 1px solid var(--rtc-color-4);
  }
}

@media (max-width: 479px) {
  .div-logo {
    justify-content: flex-start;
    width: 15em;
  }
  .logo {
    font-size: 2em;
    transition: 0.3s;
  }
}
